<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Natasha Adler - Portfolio Website - Home Page</title>
</head>
<body>
    <div class="site_container"><!--SITE CONTAINER-->
        <h1 class="hidden">Natasha Portfolio Website - portfolio</h1>
<!--HEADER-->
        <header class="header pink"><!--HEADER STARTS-->
            <h2 class="hidden">Header</h2>
            <nav class="nav">
                <h2 class="hidden">Nav</h2>
                <div class="nav_bar">
                    <img class="logo" src="images/logo.svg" alt="Logo Natasha Adler - Mikito">
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="portfolio.html">PORTFOLIO</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
        </header><!--HEADER ENDS-->
<!--PORTFOLIO -->
        <section id="app" class="portfolio"><!--PORTFOLIO HOME STARTS-->
            <div class="portfolio_title">
                <h2>My Portfolio</h2>
            </div>
            <div class="portfolio_images">
                <img v-for="img in items1" :src="`images/${img.main_img}`" alt="" class="portfolio_home_img" @click="open(img)">
            </div>
            <div class="portfolio_images">
                <img v-for="img in items2" :src="`images/${img.main_img}`" alt="" class="portfolio_home_img" @click="open(img)">
            </div>
            <div class="portfolio_images">
                <img v-for="img in items3" :src="`images/${img.main_img}`" alt="" class="portfolio_home_img" @click="open(img)">
            </div>
            <!-- LIGHTBOX-->
            <div v-if="focusItem" class="lightbox_background"></div>
            <div v-if="focusItem" class="lightbox">
                <h5 @click="close()" class="close_button">Close</h5>
                <h3>{{ focusItem.title }}</h3>
                <p>{{ focusItem.text }}</p>
                <div>
                    <img :src="`images/${focusItem.img1}`" :alt="focusItem.title">
                    <img :src="`images/${focusItem.img2}`" :alt="focusItem.title">
                    <img :src="`images/${focusItem.img3}`" :alt="focusItem.title">
                </div>
            </div>
        </section><!--PORTFOLIO HOME ENDS-->
<!--CONTACT BTN-->
        <section class="home_contact_btn"><!--CONTACT BUTTON STARTS-->
            <div class="contact_btn"> <!--dont know if this needs a div-->
                <button><a href="#">Contact Me</a></button>
            </div>
        </section><!--CONTACT BUTTON ENDS-->
<!--FOOTER-->
        <footer class="footer pink"><!--FOOTER STARTS-->
            <div class="social_media">
                <div class="socials">
                    <img src="images/instagram.svg" alt="instagram">
                    <img src="images/linkedin.svg" alt="linkedin">
                    <img src="images/facebook.svg" alt="facebook">
                </div>
                <button class="btn_top"><a href="#"></a></button>
            </div>

        </footer><!--FOOTER ENDS-->

    </div><!--SITE CONTAINER-->
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" defer></script>
<script src="./script/main.js" type="module" defer></script>
</html>