//HERO

    //in _hero.scss

//ABOUT ME

.about{
    display: flex;
    background: $color_green;
    height: auto;
    padding: 50px 200px;
    justify-content: space-between;
    width: 100%;
}

.about_me_img{
    display: flex;
    padding-right: 5vw;

    img{
        display: flex;
        max-width: 500px;
        width: 100%;
        min-width: 250px;
        height: auto;
    }

}

.about_me_text{

    h2{
        color: $main_color;
        font-size: $font_subheading;
        font-weight: bold;
        padding: 2vw;
    }
    p{
        color: $main_color;
        font-size: $font_body;
    }

}

//QUOTE

.quote{
    display: flex;
    justify-content: center;
    font-size: $font_subheading;
    width: 100%;
    color: $color_pink;
    padding: 80px;
}

@media (max-width: 500px){
.about{
    flex-direction: column;
    padding: 20px 20px;
}


}