//HERO

    //in _hero.scss

//ABOUT ME

.about_me{
    display: flex;
    background: $color_green;
    height: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
    width: 100%;

}

.about_me_img{
    display: flex;

    img{
        max-width: 600px;
    }

}

.about_me_text{

    padding-left: 300px;
    padding-top: 150px;

    h2{
        color: $main_color;
        font-size: $font_subheading;
        font-weight: bold;
        padding: 80px 0px;
    }
    p{
        color: $main_color;
        font-size: $font_body;
    }

}

//QUOTE

.quote{
    display: flex;
    justify-content: center;
    font-size: $font_subheading;
    width: 100%;
    color: $color_pink;
    padding: 80px;
}