//container 



body{
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    font-family: $font;
    
}

.pink{
    background: $color_pink;

}

.blue{
    background: $color_blue;

}

.green{
    background: $color_green;
}