
//HERO

    //in hero module


//DEMO REEL

.demoreel{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;

    video{
        width: 100%;
    }

}

//PORTFOLIO HOME

.portfolio_home{
    height: auto;
    width: 100%;
    padding: 50px 200px;
    position: relative;

 
}

.portfolio_home_title{

    width: 100%;
  

    h2{
        color: $color_blue;
        font-family: $font;
        font-size: $font_subheading;
        font-weight: bold;
        padding: 40px 0px;
    }
}



.portfolio_home_images{

    display: flex;
    justify-content: space-between;
    
    
    img{
        padding: 1vw;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: .5s ease;
        
    }
}

.portfolio_home_images img:hover{
    opacity: 0.5;
}
//CONTACT HOME

.home_contact_btn{
    height: auto;
    width: 100%;
    padding: 20px;
}

.contact_btn{

    display: flex;
    justify-content: center;
    padding-top: 100px;

    button{
        background: $color_green;
        border: none;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 50px;
        transition: 0.5s;

        a{
            font-size: $font_button;
            text-decoration: none;
            color: $main_color;
            text-align: center;
            font-weight: bold;
        }

    }
}

.contact_btn button:hover{
    background: $main_color;

    a{
        color: $color_green;
    }
}


@media (max-width: 500px){

    .portfolio_home{
        padding: 10px 20px;
    }

}
