
//HERO

    //in hero module


//DEMO REEL

.demoreel{
    display: flex;
    background: $color_blue;
    height: 1080px;
    margin-bottom: 100px;

    video{

    }
}

//PORTFOLIO HOME

.portfolio_home{
    height: 700px;
    width: 100%;
    padding: 50px 200px;
    position: relative;


}

.portfolio_home_title{

    width: 100%;
  

    h2{
        color: $color_blue;
        font-family: $font;
        font-size: $font_subheading;
        font-weight: bold;
        padding: 40px 0px;
    }
    

}

.portfolio_home_images{

    display: flex;
    justify-content: space-between;
    
    img{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }


}

//CONTACT HOME

.home_contact_btn{
    height: 200px;
    width: 100%;
}

.contact_btn{

    display: flex;
    justify-content: center;
    padding-top: 100px;

    button{
        background: $color_green;
        border: none;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 50px;
        transition: 0.5s;

        a{
            font-size: $font_button;
            text-decoration: none;
            color: $main_color;
            text-align: center;
            font-weight: bold;
        }

    }
}

.contact_btn button:hover{
    background: $main_color;

    a{
        color: $color_green;
    }
}
