

//HERO - SPECIAL TEMPLATE

#portfolio_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    //this needs to be changed -with js
    background-color: $color_pink;
    padding: 50px 200px;
    height: 700px;

    div {
        //width: 30%;
        min-width: 300px;
        box-sizing: border-box;
    }
}

#portfolioText{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    min-width: 300px;
    height: 400px;
    text-align: left;
    color: $font_white;
    margin-right: 50px;

    h2{
        font-weight: bold;
        font-size: $font_heading;
        padding-bottom: 50px;
        line-height: 110%;
        padding-right: 50px;
    }

    p{
        font-size: $font_subheading;
        line-height: 110%;
    }

}

.portfolio_name{
    color: $main-color;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    padding-bottom: 20px;

}

.portfolio_heading{
    color: $main_color;
}

.portfolio_image{
    img{
        display: flex;
        max-width: 500px;
        width: 100%;
        min-width: 350px;
        max-height: 500px;
        height: 100%;
        min-height: 350px;
    }
}

.port_img{
    width: 100%;
}

.portfolioButton{

}

.portfolioButtonTemplete{
    .portfolio_button{
        img{}

    }

}

.portfolioButton{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    transform: translateX(-50%);

    img {
        max-width: 120px;
        box-shadow: 5px 8px 10px rgba(0,0,0,0.10);
        transition: 0.5s;
    }

    img:hover{
        transform: translateY(-15px);
    }
}





//PORTFOLIO PIECES

.portfolio{
    height: 1600px;
    width: 100%;
    padding: 50px 200px;
    position: relative;


}

.portfolio_title{

    width: 100%;
  

    h2{
        color: $color_blue;
        font-family: $font;
        font-size: $font_subheading;
        font-weight: bold;
        padding: 40px 0px;
    }
    

}

.portfolio_images{

    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    
    img{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }


}
