// Variables 


//colors
$main_color: white;
$color_pink: #E54DC2;
$color_blue: #21B3DE;
$color_green: #B3DE21;
$color_black: rgb(85, 85, 85); 

//fonts
$font: ariel, helvetica, san-serif;
$font_heading: 4vw;
$font_subheading: 3vw;
$font_button: 2vw;
$font_body: 1.5vw;
$font_white: white;

