// Variables 


//colors
$main_color: white;
$color_pink: #E54DC2;
$color_blue: #21B3DE;
$color_green: #B3DE21;
$color_black: rgb(85, 85, 85); 

//fonts
$font: ariel, helvetica, san-serif;
$font_heading: 80px;
$font_subheading: 50px;
$font_button: 30px;
$font_body: 20px;
$font_white: white;

